/*
 * Styles for Connect admin UI
 */

#wrapper--connect-social-profiles {
  
  .form-item {
    float: left;
    
    label {
      font-size: 120%;
    }
  }
  
  .form-submit {
    clear: both;
    display: block;
  }
}


